---
# 删除 user
- name: 拷贝删除用户文件
  template:
    src: remove_user.ldif.j2
    dest: /tmp/remove_user.ldif

- name: 在 Groups 下创建 OU 组
  shell: ldapadd -x -D "cn=Manager,dc={{ SERVER_FQDN.split('.')[0] }},dc={{ SERVER_FQDN.split('.')[2] }}" -w {{ ROOTPW }} -f /tmp/remove_user.ldif
  register: remove_result

- debug:
    msg: "{{ remove_result.stdout_lines }}"