---
- name: 生成用户密码
  shell: /usr/sbin/slappasswd -h {SSHA} -s {{ user_passwd }}
  register: u_password


- name: 拷贝 ldif 文件
  template:
    src: user.ldif.j2
    dest: /tmp/user.ldif

- name: 创建用户
  shell: ldapadd -x -D "cn=Manager,dc={{ SERVER_FQDN.split('.')[0] }},dc={{ SERVER_FQDN.split('.')[2] }}" -w {{ ROOTPW }} -f /tmp/user.ldif
  register: create_result

- debug:
    msg: "{{ create_result.stdout_lines }}"