SASL_NOCANON	on
URI ldap://{{ SERVER_FQDN }}
BASE dc={{ SERVER_FQDN.split('.')[1] }},dc={{ SERVER_FQDN.split('.')[2] }}
TLS_CACERTDIR {{ client_cacerts }}
TLS_CACERT {{ client_cacerts }}/cert.crt
TLS_REQCERT never