- name: add memberof
  include: add_memberof.yml
  when: add_memberof

- name: add phpadmin
  include: add_browe.yml
  when: add_web

- name: add ssh-sudo
  include: add_sudo_ssh.yml
  when: sudo_ssh

- name: add ppolicy
  include: add_ppolicy.yml
  when: ppolicy

- name: add crontab
  include: add_crontab.yml
  when: crontab