{% for name in user_name %}
{% if loop.index == loop.length %}
dn: uid={{ name }},ou=Users,dc={{ SERVER_FQDN.split('.')[1] }},dc={{ SERVER_FQDN.split('.')[2] }}
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
givenName: {{ name }}
cn: {{ name }}
displayName: {{ name }}
sn: Linux
userPassword: {{ u_password.stdout_lines[0] }}
loginShell: /bin/bash
uid: {{ name }}
uidNumber: {{ user_id }}{{ loop.index }}
gidNumber: {{ group_id }}
homeDirectory: /home/{{ name }}
mail: {{ name }}@mmail.com
{% else %}
dn: uid={{ name }},ou=Users,dc={{ SERVER_FQDN.split('.')[1] }},dc={{ SERVER_FQDN.split('.')[2] }}
objectClass: top
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
givenName: {{ name }}
cn: {{ name }}
displayName: {{ name }}
sn: Linux
userPassword: {{ u_password.stdout_lines[0] }}
loginShell: /bin/bash
uid: {{ name }}
uidNumber: {{ user_id }}{{ loop.index }}
gidNumber: {{ group_id }}
homeDirectory: /home/{{ name }}
mail: {{ name }}@mmail.com

{% endif %}
{% endfor %}