BASE	dc={{ SERVER_FQDN.split('.')[1] }},dc={{ SERVER_FQDN.split('.')[2] }}
{% if ENABLE_SSL %}
URL ldap://{{ SERVER_FQDN }}
TLS_CACERTDIR	{{ app_path }}/certs
TLS_CACERT {{ app_path }}/certs/cert.crt
TLS_REQCERT never
{% else %}
TLS_CACERTDIR	{{ app_path }}/certs
URL ldap://{{ SERVER_FQDN }}
{% endif %}

# Turning this off breaks GSSAPI used with krb5 when rdns = false
SASL_NOCANON	on
