dn: olcDatabase={2}hdb,cn=config
changetype: modify
replace: olcAccess
olcAccess: {1}to * by self write by dn="dn="cn=ppolicy,ou={{ ppolicy_ou }},dc={{ SERVER_FQDN.split('.')[0] }},dc={{ SERVER_FQDN.split('.')[2] }}"" write by * read